/* default styles */

*{
	margin: 0;
	padding: 0;
}

/* header */

.header{
	padding: 20px;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/logo.jpg"); 
	background-image: -o-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/logo.jpg");
	background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6))),url("images/logo.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.header img{
	width: 170px;
	float: left;
}
.login-btn{
	width: 100px;
	padding: 0;
	outline: none;
	bottom: 2px solid #fff;
	border-radius: 50px;
	background: transparent;
	color: #fff;
	float: right;
}
.header h1{
	padding-top: 260px;
	padding-bottom: 0;
	font-size: 55px;
}
.header p{
	margin: 18px 0;
}
.input-group{
	width: 90% !important;
	max-width: 500px;
	border-radius: 30px;
	background: #fff;
	margin: auto;
	padding: 2px;
}
.form-control{
	border: 0 !important;
	border-radius: 30px !important;
	margin: 2px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.input-group-text{
	width: 100px;
	background-image: -o-linear-gradient(#00ff7e, #1f3d90);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00ff7e), to(#1f3d90));
	background-image: linear-gradient(#00ff7e, #1f3d90);
	border:0 inset !important;
	color:#fff inherit !important;
	padding: 0 25px;
	border-radius: 30px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/*features*/

.features{
	padding: 100px 0;
}
.features .fas, .features .fa{
	font-size: 15px;
	color:#ff5722;
}
.feature-box{
	margin-bottom: 30px;
	-webkit-box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
	box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
}
h1{
	text-align: center;
	padding-bottom: 30px;
}
.feature-img{
	position: relative;
}
.feature-img img{
	width: 100%;
	height: 230px;
}

.feature-details{
	padding: 20px;
	text-align: justify;
}
.feature-details h4{
	font-weight: 600;
	margin-top: 20px;
}
.place-icons .fas{
	margin-right: 5px;
}

/*gallery*/

.gallery{
	background: #efefef;
	padding: 100px 0;
}
.gallery-box img{
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.gallery-box img:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.gallery-box h4{
	display: block;
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	top:50%;
	left: 50%;
	color:#fff;
	text-shadow: -2px 2px 2px #000;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.gallery-box{
	position: relative;
	margin-bottom: 20px;
}

/* banner section */

.banner{
	height: 100vh;
	padding-top: 14%;
	background-image: url(images/3.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.banner-highlights{
	padding: 70px 0;
	background:rgba(0,0,0,0.7);
	text-align: center;
	color:#fff;
}
.booking-btn{
	width: 120px;
	margin-top: 20px;
	padding: 8px 0;
	outline: none !important;
	border: 2px solid #fff;
	border-radius: 50px;
	background: transparent;
	color: #fff;
}

/* users feedback section */



/* footer section */

.footer{
	padding: 100px 20px 15px;
	background-image: -o-linear-gradient(#2d557d, #9610fb);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2d557d), to(#9610fb));
	background-image: linear-gradient(#2d557d, #9610fb);
	color:#fff;
}
.footer-logo{
	width: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.footer h4{
	text-align: left;
	margin-top: 15px;
	margin-bottom: 25px;
}
.footer p{
	font-size: 12px;
	text-align: justify;
	padding-right: 35px;
}
.footer .fas, .footer .fab{
	margin-right: 20px;
	font-size: 15px;
}

.footer hr{
	margin-top: 10px;
	background: #efefef;
}
.footer .fas.fa-heart{
	margin: 0 5px;
	color:#f44336;
}
.footer .copyright{
	text-align: center;
}

/* mobile fix for header */

@media only screen and (max-width: 600px) {
	.header{
		height: 100% !important;
	}
} 